<div class="row">
  <div class = "col-sm-4">
    <img class="mr-2 rounded" src="<%= gravatar_url(@dream.user, { size: 50 }) %>" alt="">
    <%= link_to @dream.user.name, user_path(@dream.user) %> 
  </div>
  <div class="col-sm-8">
    <%= "投稿時間：#{@dream.created_at.to_s}" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <%= "優先度：#{@dream.priority}" %>
  </div>
  <div class="col-sm-7">
    <%= "期日：#{@dream.deadline}" %>
  </div>
</div>

<div class="media-body">
  <div>
    <p><%= "カテゴリー：#{@dream.category}" %></p>
  </div>
  <div>
    <p><%= @dream.content %></p>
  </div>
  <div>
    <% if current_user == @dream.user %>
      <%= link_to "Delete", @dream, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
